<mat-card class="parker-card">
  <mat-card-header>
    <div mat-card-avatar class="parker-header-image"></div>
      <mat-card-title>Parker</mat-card-title>
      <mat-card-subtitle>Indoor Cat</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
      <button 
        color="primary" 
        (click)="generateSrc()"
        mat-button 
        mat-raised-button>
        Give me another cat
      </button>
    </mat-card-actions>
  <img 
    src="{{ src }}"
    alt="Cute cat"
    mat-card-image>
</mat-card>